@import url('https://fonts.googleapis.com/css?family=Roboto:700,700i,400,400i&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Roboto:700,700i,400,400i&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:700,700i,400,400i&subset=cyrillic');
#body-fict h1 ,#body-fict .h1 ,#body-fict .h1 li ,#body-fict .ul-blog-post-content h1{font-family:'Roboto', 'Arial', 'sans-serif' !important;font-size:52px !important;line-height:123% !important;}#body-fict h2 ,#body-fict .h2 ,#body-fict .h2 li ,#body-fict .ul-blog-post-content h2{font-family:'Roboto', 'Arial', 'sans-serif' !important;font-size:40px !important;line-height:123% !important;}#body-fict h3 ,#body-fict .h3 ,#body-fict .h3 li ,#body-fict .ul-blog-post-content h3{font-family:'Roboto', 'Arial', 'sans-serif' !important;font-size:32px !important;line-height:123% !important;}#body-fict h4 ,#body-fict .h4 ,#body-fict .h4 li ,#body-fict .ul-blog-post-content h4{font-family:'Roboto', 'Arial', 'sans-serif' !important;font-size:22px !important;line-height:123% !important;}#body-fict p, #body-fict .normal, #body-fict .normal li, #body-fict li{font-family:'Ubuntu', 'Geneva', 'Tahoma', 'sans-serif' !important;font-size:16px !important;line-height:162% !important;}#body-fict p.important, #body-fict .important, #body-fict h5, #body-fict h5 li{font-family:'Ubuntu', 'Geneva', 'Tahoma', 'sans-serif' !important;font-size:20px !important;line-height:162% !important;}#body-fict p.note, #body-fict .note, #body-fict h6, #body-fict h6 li{font-family:'Ubuntu', 'Geneva', 'Tahoma', 'sans-serif' !important;font-size:14px !important;line-height:162% !important;}#body-fict header .ul-header-editor h1, #body-fict header .ul-header-editor .h1, #body-fict footer .ul-header-editor h1, #body-fict footer .ul-header-editor .h1{font-family:'Roboto', 'Arial', 'sans-serif' !important;font-size:30px !important;line-height:40px !important;}#body-fict .price-big{font-family:'Ubuntu', 'Geneva', 'Tahoma', 'sans-serif' !important;font-size:28px !important;line-height:162% !important;}#body-fict .price-small{font-family:'Ubuntu', 'Geneva', 'Tahoma', 'sans-serif' !important;font-size:20px !important;line-height:162% !important;}#body-fict .special-404-big{font-family:'Roboto', 'Arial', 'sans-serif' !important;font-size:180px !important;line-height:123% !important;}#body-fict .special-404-small{font-family:'Roboto', 'Arial', 'sans-serif' !important;font-size:160px !important;line-height:123% !important;}#body-fict .timer{font-family:'Roboto', 'Arial', 'sans-serif' !important;font-size:14px !important;line-height:123% !important;}#body-fict .large{font-family:'Ubuntu', 'Geneva', 'Tahoma', 'sans-serif' !important;font-size:18px !important;line-height:162% !important;}#body-fict .middle{font-family:'Ubuntu', 'Geneva', 'Tahoma', 'sans-serif' !important;font-size:16px !important;line-height:162% !important;}#body-fict .small{font-family:'Ubuntu', 'Geneva', 'Tahoma', 'sans-serif' !important;font-size:14px !important;line-height:162% !important;}






































